In [30]:
import pickle
import pandas as pd
from itertools import chain
import os
import sys
nb_dir = os.path.split(os.getcwd())[0]
if nb_dir not in sys.path:
    sys.path.append(nb_dir)
    sys.path.append(nb_dir + '/parsing')

In [31]:
train_dataset = pd.read_json(
        '/cs/student/projects2/ml/2017/Segmentation/sentwise=F_cutoff=4_limit=1_method=shortest_medhop_train.json')
train_document_store = pickle.load(open('/cs/student/projects2/ml/2017/Segmentation/train_doc_store.pickle',
                                   'rb'))

In [3]:
train_dataset.head()

,entity_paths,id,label,relation,relation_paths,source,target
0,"[[DB00072, P16104, DB00773]]",MH_train_0,1,interacts_with,"[[2822, 13427, -1]]",DB00072,DB00773
1,"[[DB00294, P06401, P12830, P15692, DB00773]]",MH_train_0,0,interacts_with,"[[12161, 5896, 3003, 8080, -1]]",DB00294,DB00773
2,"[[DB00338, O75030, DB00133, DB00773]]",MH_train_0,0,interacts_with,"[[3059, 11424, 537, -1]]",DB00338,DB00773
3,"[[DB00341, P35367, P05231, P35228, DB00773]]",MH_train_0,0,interacts_with,"[[9869, 7118, 11664, 13427, -1]]",DB00341,DB00773
4,"[[DB00588, P05113, P15692, DB00773]]",MH_train_0,0,interacts_with,"[[6139, 11285, 8080, -1]]",DB00588,DB00773

In [4]:
len(train_dataset)

14436

In [19]:
paths = list(chain.from_iterable(train_dataset['relation_paths']))
paths = [tuple(p) for p in paths]

In [21]:
dups = set([x for x in paths if paths.count(x) > 1])

In [32]:
len(dups)

36

In [33]:
dups

{(28, 11217, 13251, -1),
 (1019, -1),
 (1333, 3203, -1),
 (1333, 11987, 5604, -1),
 (1333, 13759, 8080, -1),
 (1618, 10425, 4077, -1),
 (2067, 12, 10152, -1),
 (2067, 6872, 10648, 9879, -1),
 (2067, 8902, 7996, -1),
 (2067, 8986, 742, -1),
 (2067, 13477, 11217, 5023, -1),
 (2067, 13929, 4918, -1),
 (2067, 14207, 9093, -1),
 (3577, -1),
 (3587, 4485, 8550, 12088, -1),
 (4250, 11875, 14363, -1),
 (4462, 4415, 5309, -1),
 (4462, 5198, 3202, -1),
 (4488, 13884, 6341, -1),
 (4891, 102, 1333, -1),
 (5272, 4899, 13627, -1),
 (5382, 8, -1),
 (5382, 8249, 1777, -1),
 (5382, 8249, 10955, -1),
 (5382, 11892, 667, -1),
 (5555, 7631, 2966, -1),
 (5886, -1),
 (5976, 5824, 2215, -1),
 (7122, 14332, 11891, -1),
 (7338, 6872, 2067, -1),
 (7987, 7043, -1),
 (8302, 7499, 290, 3059, -1),
 (9532, 837, 2067, -1),
 (9879, 2001, 9871, -1),
 (10587, 1648, 2067, -1),
 (13627, -1)}

In [55]:
train_document_store.document_entities[3203]

{'DB00714': [0], 'P08908': [257]}

In [45]:
train_dataset['tuple_paths'] = train_dataset['relation_paths'].apply(lambda paths: tuple(paths[0]))

In [59]:
train_dataset.loc[~train_dataset['tuple_paths'].isin(list(dups))].drop('tuple_paths', axis=1).to_json('/cs/student/projects2/ml/2017/Segmentation/sentwise=F_cutoff=4_limit=1_method=shortest_medhop_train_no_dups.json')